@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Acme', sans-serif;
  
    
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Acme', sans-serif;
    background-image: url('../img/fundo001.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.Entrar{
    padding-top: 0%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Entrar .text{
    font-family: 'Tsukimi Rounded', sans-serif;
    position: relative;

    margin-right: 20px;
}

.Entrar .text a{
    padding: 10px 25px;
    font-family: 'Tsukimi Rounded', sans-serif;
    background: #e89e00;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 40px;
    transition: 0.3s ease-in-out;
    transition: all 0.3s ease-in-out 0s;
}

.Entrar .text .btnEntrar:hover{
    transform: translateY(-10px);

}

/* menu*/
#imgLogo{
    position: absolute;
    top: 10px;
    left: 95px;
    width: 10%; /* Ajuste o valor conforme necessário */
    max-width: 100px; /* Defina um valor máximo conforme necessário */
}

.logo{
    font-size: 25px;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center; /* Agora centraliza os itens horizontalmente */
    top: -20px;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    z-index: 100;
}

.navbar {
    display: flex;
    align-items: center;
    }
    
    .navbar a {
        padding-top: 1.5rem;
        font-size: 1.5rem; /* Ajuste o tamanho da fonte conforme necessário */
        color: #000;
        text-decoration: none;
        font-weight: 500;
        margin-right: 35px; /* Ajuste o valor da margem conforme necessário */
        transition: .3s;
        opacity: 0;
        animation: slideTop .5s ease forwards;
        animation-delay: calc(.2s * var(--i));
    }
.navbar a + a {
    margin-left: 10px;
}

.navbar a:hover,
.navbar a.active {
    color: #e89e00;
}

#fora {
    color: #e89e00;
    padding-top: 70px;
    text-align: center;
    font-size: 45px;
}

#fora2 {
    color: #171716;
    font-size: 20px;
    text-align: center;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.quadro-grande {
    border-radius: 10px;
    padding: 10px;
}

.petiscos-container img {
    height: 240px;
    width: 260px;
}

.petiscos-container {
    display: flex;
    justify-content: space-between;
}

.petisco {
    background: #f7ede2;
    width: calc(33% - 40px);
    border: 2px solid #621313;
    font-family: 'Overpass', sans-serif;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

.petisco img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

h2 {
    border-bottom: 2px solid #621313;
    margin-bottom: 10px;
    text-align: center;
}

p {
    margin-bottom: 10px;
}

.comprar-btn {
    background-color: #c8742b;
    color: #f7ede2;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.comprar-btn:hover {
    background-color: #e89e00;
}

/* Estilo para alinhar as opções na checklist */

#checklist, #checklist2, #checklist3 {
    display: flex;
    height: 2rem;
    border-radius: 17px;
    align-items: center;
    margin-bottom: 15px;
    background-color: #c8742b;
    color: #fcf6e0;
    border: none;
}

.option, .option2, .option3 {
    border: none;
    color: #c8742b;
    margin-top: 3px;
    display: flex;
    align-items: center;
}

.option input[type="checkbox"], .option2 input[type="checkbox"], .option3 input[type="checkbox"] {
    margin-right: 10px;
}

#checkoutButton {
    background-color: #f44336;
}

#checkoutButton:hover {
    background-color: #d32f2f;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage{
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-24px);
    }
    100% {
        transform: translateY(0);
    }
}


:root {
    --red: #c8742b;
    --dark: #000000;
}

.navbar2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    z-index: 100;
}

.navbar2 a {
    color: var(--dark);
    font-size: 25px;
    font-weight: 500;
    margin-right: 35px;
    text-decoration: none;
    position: relative;
}

.navbar2 a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--red);
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
}

.navbar2 a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.menu {
    cursor: pointer;
    display: none;
}

.menu .bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3) {
    background: var(--red);
}

/* Media query para esconder a barra de navegação no início */
@media (max-width: 785px) {
    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }

    .navbar.ativo {
        display: flex;
    }

    .menu {
        display: block;
    }

    .menu.ativo .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }

    .menu.ativo .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
